@font-face {
	font-display: swap;
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 400;
	src: url('~/assets/fonts/Akrobat-Regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Akrobat';
	font-style: normal;
	font-weight: 700;
	src: url('~/assets/fonts/Akrobat-Bold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	font-family: 'Akrobat';
	src: url('~/assets/fonts/Akrobat-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Roberto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('~/assets/fonts/RobertoSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roberto Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('~/assets/fonts/RobertoSans-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Roberto Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('~/assets/fonts/RobertoSans-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Roberto Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('~/assets/fonts/RobertoSans-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('~/assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('~/assets/fonts/Inter-SemiBold.woff2') format('woff2');
}
